@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Fuente */
:root {
    --poppins-font: "Poppins", sans-serif;
}

/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--poppins-font);
}


.main-container {
    margin: 0 60px;
}

/*
=====================
    HEADER PAGINA
=====================
*/

.usuario-container {
    display: flex;
    justify-content: flex-end;
    margin: 40px 0;
}

.usuario-container ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.usuario-container ul li {
    list-style-type: none;
    margin-left: 15px;
}

.banner-pagina {
    display: flex;
    column-gap: 50px;
    background-color: #e8e8e8;
    padding: 50px;
}

.descripcion-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.descripcion-container h1,
.descripcion-container p {
    margin: 0;
}

.btn-explorar-prod {
    display: flex;
    align-items: center;
}

.btn-explorar-prod a {
    text-decoration: none;
    background-color: #042dd1;
    color: white;
    font-weight: bold;
    padding: 20px 50px;
    transition: 0.2s background-color;
}

.btn-explorar-prod a:hover {
    background-color: #3657db;
}

.banner-pagina img {
    width: 100%;
    height: 460px;
}

/*
==============================
    Productos recomendados
==============================
*/
.productos-recomendados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 50px;
    margin: 90px 0;
}

.producto-card {
    background-color: #e8e8e8;
    padding: 20px 10px;
}

.producto-card img {
    width: 100%;
    height: 320px;
    transition: opacity 0.4s;
}

.producto-card img:hover {
    opacity: 0.8;
}

.prod-titulo {
    margin: 15px 0;
}

.prod-titulo a {
    text-decoration: none;
}

.producto-card p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
