/* =====================
        NAVBAR
===================== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    background-color: #e8e8e8;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.navbar p {
    margin: 0;
}

/* Links */
.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.navbar ul li {
    list-style: none;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    color: #042dd1;
    transition: 0.2s ease-in-out;
}

.navbar ul li:hover {
    background-color: #042dd1;
    color: #fff;
}

/* Carrito */
.navbar .carrito-compras {
    text-decoration: none;
    color: #042dd1;
    cursor: pointer;
}
.navbar .carrito-compras:hover {
    opacity: 0.7;
}

.navbar .nombre-pagina {
    font-weight: 800;
}


/* -------------------------------
       📱 RESPONSIVE
--------------------------------*/
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 15px 10px;
        gap: 10px;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .navbar ul li {
        padding: 10px;
        width: 100%;
        border-radius: 5px;
    }

    .carrito-compras {
        width: 100%;
    }
}
