/*
=====================
      NAVBAR
=====================
*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 60px 30px;
    background-color: #e8e8e8;
}

.navbar p {
    margin: 0;
}

.navbar p a[href="./carrito_compras.html"] {
    text-decoration: none;
    color: #042dd1;
}

.navbar p a[href="./carrito_compras.html"]:hover {
    opacity: 0.7;
}

.navbar .nombre-pagina {
    font-weight: 800;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #042dd1;
}

.navbar ul li a:hover {
    background-color: #042dd1;
    color: #fff;
}